body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin : 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle at center,
    #4a7bc8 0%,
    #1a3a6b 100%
    );
    color : #ffffff;
    height : 200px;
    padding-top : 1px;
    padding-left: 10px;
    position : sticky;
    top : 0;
    left : 0;
    margin: 0;
    padding : 0;
    width : 100%;
    z-index : 1000;
}
main{
    margin-top : 60px;
}
#container {
    display : flex;
    background: lightcyan;
    height:100vh;
    font-size: 20px;
}
#inputs{
    padding-left: 20px;
}
#outputs{
    padding-left : 20px;
    padding-top: 30px;
    display : none;
}

#outputs, #inputs{
    background: rgb(209, 221, 254);
    width : 50%;
    padding-bottom : 50px;
    line-height: 1.3;
    overflow-y: auto;
}

button{
    height : 30px;
    border-radius: 30px;
    font-weight: bold;
    background: #64acc4;
}

input{
    border-radius: 50px;
    margin-bottom : 10px;
    height : 50px;
    width : 300px;
}
#radio {
    height :30px;
    width : 30px;

}
.IS{
    margin-bottom:20px;
}
h1 nav{
    display : flex;
}
#batteries-image{
    height : 200px;
    width : 30%;
    margin-left: auto;

}
#text{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#relveCharge, #systeme{
    font-size: 40px;
    font-weight: 1000;
}
.error{
    color : #d00000;
    font-size: 18px;
    margin-top: 8px;
    font-family:'Times New Roman', Times, serif;
}
.hidden{
    display : none;
}
.remove{
    font-size: 16px;
    color :darkblue;
    background:local;
}
button:hover{
    background: lightseagreen;
}